
backend/.DS_Store
.DS_Store
*.pyc
*.pyc
backend/auth/__pycache__/hashing.cpython-311.pyc
backend/auth/__pycache__/jwttoken.cpython-311.pyc
backend/auth/__pycache__/oauth.cpython-311.pyc
backend/config/__pycache__/config.cpython-311.pyc
backend/controller/__pycache__/userController.cpython-311.pyc
backend/routes/__pycache__/userRoutes.cpython-311.pyc
